<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
</head>

<body>
    <div id='app'>
        <h1>로그인 {{message}}</h1>
        <div>
            <form>
                <label>아아디</label>
                <input type="text" v-model="id">

                <label>비밀번호</label>
                <input type="password" v-model="pass">

                <button type="button" v-on:click="login">로그인</button>
            </form>
        </div>
    </div>
</body>

</html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '안녕하세요 Vue!',
            id: '',
            pass: '',
        },
        methods: {
            login() {
                axios.post('/api/signin', {
                    userid: this.id,
                    userpass: this.pass,
                }).then(function (rep) {
                    console.log(rep)
                    if(rep.data.success == 1){
                        location.href = "/home"
                    }
                })
            }
        },
    })
</script>